<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Breast Cancer Detection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lemonada&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Website Title -->
    <div class="container">
        <h2 class='container-heading'><span class="heading_font">Breast Cancer Detection</span></h2>
        <div class='description'>
            <p>Model Accuracy 82%</p>
        </div>
    </div>

    <!--
    texture_mean, area_mean, smoothness_mean, concave_points_mean,
    symmetry_mean, fractal_dimension_mean, texture_se, area_se, smootheness_se, 
    compactness_se, concavity_se, concave_points_se, symmetry_se, fractal_dimension_se, 
    concavity_worst, symmetry_worst, fractal_dimension_worst
    -->

    <!-- Text Area -->
    <div class="ml-container">
        <form action="{{ url_for('predict') }}" method="POST">
            <h4>Texture mean</h4>
            <input class="form-input" type="text" name="Texture mean" placeholder="eg. 7.1"><br>
            <h4>Area mean</h4>
            <input class="form-input" type="text" name="Area mean" placeholder="eg. 7.1"><br>
            <h4>Smoothness mean</h4>
            <input class="form-input" type="text" name="Smoothness mean" placeholder="eg. 0.27"><br>
            <h4>Concave Points mean</h4>
            <input class="form-input" type="text" name="Concave Points mean" placeholder="eg. 0.36"><br>
            <h4>Symmetry mean</h4>
            <input class="form-input" type="text" name="Symmetry mean" placeholder="eg. 20.7"><br>
            <h4>Fractal Dimension mean</h4>
            <input class="form-input" type="text" name="Fractal Dimension mean" placeholder="eg. 0.045"><br>
            <h4>Texture standard error</h4>
            <input class="form-input" type="text" name="Texture standard error" placeholder="eg. 45.0"><br>
            <h4>Area standard error</h4>
            <input class="form-input" type="text" name="Area standard error" placeholder="eg. 170.0"><br>
            <h4>Smoothness standard error</h4>
            <input class="form-input" type="text" name="Smoothness standard error" placeholder="eg. 1.0010"><br>
            <h4>Compactness standard error</h4>
            <input class="form-input" type="text" name="Compactness standard error" placeholder="eg. 3.00"><br>
            <h4>Concavity standard error</h4>
            <input class="form-input" type="text" name="Concavity standard error" placeholder="eg. 0.45"><br>
            <h4>Concave Points standard error</h4>
            <input class="form-input" type="text" name="Concave Points standard error" placeholder="eg. 8.8"><br>
            <h4>Symmetry standard error</h4>
            <input class="form-input" type="text" name="Symmetry standard error" placeholder="eg. 7.1"><br>
            <h4>Fractal Dimension standard error</h4>
            <input class="form-input" type="text" name="Fractal Dimension standard error" placeholder="eg. 7.1"><br>
            <h4>Concavity worst</h4>
            <input class="form-input" type="text" name="Concavity worst" placeholder="eg. 7.1"><br>
            <h4>Symmetry worst</h4>
            <input class="form-input" type="text" name="Symmetry worst" placeholder="eg. 7.1"><br>
            <h4>Fractal Dimension worst</h4>
            <input class="form-input" type="text" name="Fractal Dimension worst" placeholder="eg. 7.1"><br>
            <input type="submit" class="my-cta-button" value="Predict">
        </form>
    </div>
    

    <!-- Footer -->
    <div class='footer'>
        <div class="contact">
            <a target="_blank" href="https://github.com/prikmm"><i class="fab fa-github fa-lg contact-icon"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/priyam-mehta-850925115/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
            <a target="_blank" href="https://www.kaggle.com/priyammehta"><i class="fab fa-kaggle fa-lg contact-icon"></i></a>
        </div>
    </div>
    
</body>
</html>