<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Results</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='predict.css') }}">
		<script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css2?family=Lemonada&family=Pacifico&display=swap" rel="stylesheet">
	</head>
	
	<body>
		 <!-- Website Title -->
		 <div class="container">
            <h2 class='container-heading'><span class="heading_font">Breast Cancer Detection</span></h2>
        </div>

        <div id="navbar">
            <ul id="button_list">
                <li class="buttons"><a href="{{ url_for('home') }}" class="links">Home</a></li>
                <li class="buttons"><a href="{{ url_for('diagnose') }}" class="links">Diagnose</a></li>
            </ul>
        </div>

		<!-- Result -->
		<div class="results">
			{% if prediction=='B' %}
				<h1><span class='Beningn'>Congrats! The tumour is Beningn.</span></h1>
				<img class="gif" src="{{ url_for('static', filename='congrats.jpg') }}" alt="Beningn Tumour Image">
			{% elif prediction=='M' %}
				<h1><span class='Bad Quality'>Not good! The tumour is Malignant. Seek Medical attention immediately.</span></h1>
				<img class="gif1" src="{{ url_for('static', filename='not_good.png') }}" alt="Malignant Tumour Image">
			{% endif %}
		</div>

		<!-- Footer -->
		<div class='footer'>
            <div class="contact">
                <a target="_blank" href="https://github.com/prikmm" class="logos"><i class="fab fa-github fa-lg contact-icon"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/priyam-mehta-850925115/" class="logos"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
                <a target="_blank" href="https://www.kaggle.com/priyammehta" class="logos"><i class="fab fa-kaggle fa-lg contact-icon"></i></a>
            </div>
        </div>

	</body>
</html>